.carousel-inner{
    height: 30vh;
}
    
.carousel-item img {
    position: absolute;
    object-fit: cover;
    }

@media screen and (min-width: 768px) {
    .carousel-inner{
        height: 50vh;
    }

    .reduced-width{
        max-width: 75%;
        height: 50vh;   
        margin: 0 auto;
    }
}